astro
.git
.env
airflow_settings.yaml
logs/
.venv
airflow.db
airflow.cfg
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
tests/
tests/test_*
README.md
